services: postgresql
language: ruby
rvm:
  - 1.9.3
before_script:
  - psql -c 'create database snacks_test;' -U postgres
  - bundle exec rake test:prepare
script: 
  - bundle exec rspec spec
env:
  - DATABASE_URL=postgres://postgres@127.0.0.1/snacks_test
  - SAUCE_URL=http://kylejconroy:7a7836d7-dd25-479c-be16-9088fa7bd193@ondemand.saucelabs.com:80/wd/hub
notifications:
  email: false
