<style>
  .table th, .table td {
    border-top: none;
    border-bottom: 1px solid #DDD;
  }
</style>

<div class="row">
  <div class="span9">
    <ul class='nav nav-tabs'>
      <li>Top Questions</li>

      <li class="pull-right"><a href="#">all time</a></li>
      <li class="pull-right"><a href="#">week</a></li>
      <li class="active pull-right">
        <a href="#">interesting</a>
      </li>
    </ul>
    <%= erb :_question_list, :locals => { :questions => @questions } %>

  </div>
  <div class="span3">
    <% @tags.each do |tag| %>
        <div>
          <a href="/tags/<%= tag.name %>"><span class="label"><%= tag.name %></span></a> x <%= tag[:count] %>
        </div>
    <% end %>
  </div>
</div>