<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snacks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/snacks.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <form class="pull-right navbar-form" id='basic-search' action="/search" method="get">
          <input type="text" name='query' placeholder="Search">
          <button type="submit" class="btn">Search</button>
        </form>
        <div class='nav pull-right'>
          <%= if @current_user
                "<li><a href='/users/#{@current_user.id}'>#{User[session[:user_id]].name}</a></li>
                 <li><a href='/logout'>Sign Out</a></li>"
              else
                "<li><a href='/auth/google_apps'>Log In</a></li>"
              end %>
        </div>
      </div>
    </div>
    
    <div class="container">
      <ul class="nav nav-pills" style='margin-top: 10px'>
        <li class="active">
          <a href="/">Snacks</a>
        </li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="#">Unanswered</a></li>
        <li class='pull-right'><a href="/questions/new">Add Question</a></li>
      </ul>
      
      <%= yield %>
    </div> <!-- /container -->

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/snacks.js"></script>
  </body>
</html>
